[wallet]
private_key = ""

[monitor]
mode = "geyser" # wss or geyser

[rpc]
network = "mainnet-beta"
endpoints = [
    "https://api.mainnet-beta.solana.com"  # 多个 rpc 节点, 优先使用第一个
] # 多个 rpc 节点, 优先使用第一个
commitment = "finalized"

[rpc.geyser]
enable = true
endpoint = "solana-yellowstone-grpc.publicnode.com:443"
api_key = ""

[trading]
# prioritization fee = UNIT_PRICE * UNIT_LIMIT
unit_limit = 81000
unit_price = 3000000
preflight_check = false
tx_simulate = false
use_jito = true
# jito_api 可根据服务器地址选择，就近原则 https://docs.jito.wtf/lowlatencytxnsend/#api
jito_api = "https://mainnet.block-engine.jito.wtf"

[api]
helius_api_base_url = "https://api.helius.xyz/v0"
helius_api_key = ""
shyft_api_base_url = "https://api.shyft.to"
shyft_api_key = ""
pumpportal_api_data_url = "wss://pumpportal.fun/api/data"
solscan_api_base_url = "https://pro-api.solscan.io/v2.0"
solscan_api_key = ""

[db]
# 数据库连接配置
# 本地开发环境（从源码运行）使用以下配置：
mysql_url = "mysql+pymysql://root:root@127.0.0.1:3307/solana_trade_bot"
redis_url = "redis://127.0.0.1:6380/0"

# Docker 环境会通过环境变量自动覆盖为容器别名：
# DB__MYSQL_URL=mysql+pymysql://root:root@mysql:3306/solana_trade_bot
# DB__REDIS_URL=redis://redis:6379/0

[sentry]
enable = false
dsn = ""
traces_sample_rate = 1.0

[log]
level = "debug"

[tg_bot]
token = ""
mode = "private" # private or public, private 意味着机器人是私有的，只有使用激活码才能访问，public 意味着机器人公开，任何人都可以访问
manager_id = 5049063827  # 管理员 id，管理员无视激活码
